html,
body,
#cover{
  height: 100%;
}

.bg-lightorange{
  background-color: #f3c81d;
}

a{
  color: #ecb201;
  font-weight:500;
}
a:hover{
  color: #f3c81d;
}
#mainNav {
  background-color: #222;
}

#mainNav .navbar-toggler {
  padding: 15px;
  color: white;
  font-size: 14px;
}

#mainNav .navbar-toggler:focus, #mainNav .navbar-toggler:hover {
  color: #222;
  background-color: white;
}

#mainNav .navbar-brand {
  color: white;
  font-size: 24px;
  line-height: 44px;
  font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 900;
  text-transform: uppercase;
}

#mainNav .navbar-brand img {
  height: 40px;
}

#mainNav .navbar-collapse .navbar-nav > .nav-item > .nav-link {
  padding-top: 15px;
  padding-bottom: 15px;
  color: white;
}

#mainNav .navbar-collapse .navbar-nav > .nav-item > .nav-link:focus, #mainNav .navbar-collapse .navbar-nav > .nav-item > .nav-link:hover {
  /* color: rgba(255, 255, 255, 0.5); */
  color: #f3c81d;
  transition: 0.3s;
}

#mainNav .navbar-collapse .navbar-nav > .nav-item > .nav-link.active, #mainNav .navbar-collapse .navbar-nav > .nav-item > .nav-link.active:focus, #mainNav .navbar-collapse .navbar-nav > .nav-item > .nav-link.active:hover {
  color: #0A8FD5;
}

@media (min-width: 992px) {
  #mainNav {
    height: auto;
    padding: 30px 0;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    background-color: transparent;
  }
  #mainNav.navbar-shrink {
    padding: 5px 0;
    background-color: #222;
  }
  #mainNav .navbar-brand {
    font-size: 26px;
    line-height: 50px;
  }
  #mainNav .navbar-brand img {
    height: 46px;
  }
  #mainNav .navbar-collapse .navbar-nav > .nav-item {
    margin-right: 5px;
  }
  #mainNav .navbar-collapse .navbar-nav > .nav-item:last-child {
    margin-right: 0;
  }
  #mainNav .navbar-collapse .navbar-nav > .nav-item > .nav-link {
    padding: 15px;
    font-weight: 300;
  }
  #mainNav .navbar-collapse .navbar-nav > .nav-item > .nav-link.active, #mainNav .navbar-collapse .navbar-nav > .nav-item > .nav-link.active:focus, #mainNav .navbar-collapse .navbar-nav > .nav-item > .nav-link.active:hover {
    color: #deb201;
    border-radius: 0;
    border-radius: 5px;
    background-color: white;
  }
}

#cover, #about, #skill, #portfolio, #subscribe, #contact{
  text-align: center;
  align-items: center;
  /* height: 100%; */
}

#cover, #skill{
  background-size: cover;
  background-attachment: fixed;
  color: white;
  /* display: flex; */
}

#cover-caption, #skill-caption{
  background: rgba(0,0,0,.3);
  height: 100%;
}


.sub-panel{
  padding-top: 80px;
  padding-bottom: 50px;
}


.cover-flex{
  padding-top: 100px;
  margin-bottom: auto;
}
#cover-caption h1{
  font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 900;
}
hr{
  /* margin: 20px auto 20px 0; */
  max-width: 200px;
  margin: 3px auto;
  border-color: white;
}
.colored{
  color:#f3c81d;
  border-color: #f3c81d;
}
#cover-caption h3{
  /* font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif; */
  font-weight: 400;
}
#cover-caption p{
  /* color: #f3c81d; */
  margin-top: 60px;
  font-size: 0.8rem;
}

#cover-caption img{
  width: 40%;
  margin-bottom: 10px;
}

@media screen and  (min-width: 691px) {
  #cover-caption img{
    width: 15%;
  }
}



.scroll-down .btn {
  font-size: 30px;
  line-height: 50px;
  width: 50px;
  height: 50px;
  padding: 0;
  letter-spacing: normal;
  color: white;
  border: 2px solid white;
  border-radius: 100% !important;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.scroll-down .btn:hover {
  color: rgba(255, 255, 255, 0.5) !important;
  border-color: rgba(255, 255, 255, 0.5);
  outline: none;
}

.scroll-down .btn:focus, .scroll-down .btn:active {
  -webkit-box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.5) !important;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.5) !important;
}


.mysocial{
  font-size: 2rem;
  margin-bottom: 2rem;
}

.text-shadow{
  text-shadow: 2px 2px 5px black;
}

/* #skill p, #skill li{
  font-weight: 500;
} */

#col-about-skill i{
  font-size: 6rem;
}

#col-about-skill div div{
  padding-bottom: 10px;
  padding-top: 10px;
}

.box-trans{
  background: rgba(0, 0, 0, 0.2);
  padding: 2rem;
  border-radius: 10px;
}

.portfolio-menu ul li, .btn-outline{
  display: inline-block;
  list-style: none;
  padding: 8px 10px;
  border: 1px solid #f3c81d;
  margin: 0px;
  cursor: pointer;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

.portfolio-menu ul li:hover, li.active, .btn-outline:hover{
  background-color: #f3c81d;
  color: white;
}

.portfolio-item .item{
  float: left;
  background-size: contain;
  border: 2px solid #f3c81d;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  height: 280px;
}
.portfolio-item .item:hover{
  background-size: cover;

}
.item-detail{
  padding-top: 60%;
  margin-bottom: auto;
  height: 100%;
  background: rgba(0,0,0,0.3);
  width: 100%;
  color: white;
  opacity: 0;

}
.item-detail:hover{
  opacity: 1;
}
.item-detail-caption{
  background: rgba(0,0,0,0.6);
  padding-bottom: 40%;
}

.item-detail-caption h5, .item-detail-caption p{
  margin: 0px;
  line-height: 1.3rem;
}
.darker{
  background-color: #222;
  color: white;
}

.form-inline{
  display:block;
}

#contact .form-inline{
  display: inline-block;
}

#contact input, #contact textarea{
  width: 100%;
  margin: 5px;
}
.btn-outline{
  background-color: white;
}
.col-left{
  float: left;
}
.col-right{
  float: right;
}
